fastapi
uvicorn
flask
pydantic[email]
email-validator
requests
pandas
openpyxl
python-multipart
gunicorn
urllib3
fastapi
uvicorn
pandas
jinja2
python-dotenv
requests
openpyxl
pydantic[email]

